<!doctype html>
<html lang="en">
  <head>
    <title>Auth system</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style2.css') }}"
    />
    <script src="script.js"></script>
  </head>
  <body>
    <header>
        <div class="spam-title">
            <h1>Spam Detection</h1>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">How it works</a></li>
                <li><a href="">Features</a></li>
            </ul>
        </nav>
        <a href="" class="loginBtn">Login</a>
    </header>

    <section class="home">
        <div class="left-home">
            <h1>Detect Spam Before It Reaches You</h1>
            <p>An advanced machine-learning tool that filters out phising,<br>
               promotional junk, and malicious links in real time
            </p>
        </div>
        <div class="right-home">
            <img src="" alt="image1">
        </div>
    </section>
  </body>
</html>
