<!doctype html>
<html lang="en">
  <head>
    <title>Register page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style1.css') }}"
    />
  </head>
  <body>
    <section>
      <div class="container">
        <form action="/register" method="POST">
          <div class="registerForm">
          <h3>Create Your Account</h3>
          <p>Register for advanced spam detection and<br>
            data protection.</p>
        </div>
          <div class="input-box">
            <i class="fa-regular fa-user"></i>
            <input type="text" name="username" placeholder="Username" required/>
          </div>
          <br />
          <div class="input-box">
            <i class="fa-regular fa-envelope"></i>
            <input type="email" name="email" placeholder="Email" required/>
          </div>
          <br />
          <div class="input-box">
            <i class="fa-solid fa-key"></i>
            <input
              type="password"
              name="password" placeholder="Password" required
            />

          </div>
          <br />
          <button type="submit">Create Account</button>
          <div class="register">
          <p>Already have an account?
            <a href="/login">Sign In</a>
          </p>
        </div>
        </form>
      </div>
    </section>
  </body>
</html>
